**/tmux/plugins/**
.icons
**/tmux/plugins
**/packer_compiled.lua
*.tmp
*.temp
*.bak
*.old
*.backup
**/lazy-lock.json
lazy-lock.json
./config/.config/nvim/lazy-lock.json
dolphinrc
kdeglobals
xsettingsd
gtk-3.0
