**/tmux/plugins/**
.icons
**/tmux/plugins
**/packer_compiled.lua
*.tmp
*.temp
*.bak
*.old
*.backup
**/lazy-lock.json
lazy-lock.json
./config/.config/nvim/lazy-lock.json
./config/.config/hypr/monitors.conf
./config/.config/dunst/
./config/.config/Kvantum/
**/icons/**
config/.config/hypr/monitors.conf
config/.config/hypr/windowrules.conf
config/.config/nvim/lazy-lock.json
