**/tmux/plugins/**
.icons
**/tmux/plugins
**/packer_compiled.lua
*.tmp
*.temp
.env
*.bak
*.old
*.backup
**/lazy-lock.json
lazy-lock.json
.zsh_history
./config/.config/nvim/lazy-lock.json
./config/.config/hypr/monitors.conf
./config/.config/dunst/
./config/.config/Kvantum/
**/icons/**
config/.config/hypr/monitors.conf
config/.config/nvim/lazy-lock.json
config/.config/Kvantum/wallbash
config/.config/dunst
config/.config/gtk-3.0
config/.config/Kvantum/wallbash/wallbash.svg
config/.config/hyde/themes/Catppuccin Mocha
config/.config/hypr/themes
config/.config/menus
config/.config/xsettingsd
config/.config/baloofilerc
config/.config/dolphinrc
config/.gtkrc-2.0
