* {
    main-bg:            #1B1C27B3;
    main-fg:            #CCD0FFE6;
    main-br:            #5E6495E6;
    main-ex:            #363D58E6;
    select-bg:          #AAAEF080;
    select-fg:          #292B52E6;
}
