* {
  border: none;
  border-radius: 10;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
  min-height: 0px;
}

window#waybar {
  background: transparent;
}

#network {
  margin-top: 4px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #047EBC;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
  transition: 0.3s;
}

#network:hover {
  color: #292c3c;
  background: #047EBC;
}

#cava {
  margin-top: 4px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #047EBC;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
  transition: 0.3s;
}

#cava:hover {
  color: #292c3c;
  background: #047EBC;
}

#battery {
  margin-top: 4px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #047EBC;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
  transition: 0.3s;
}

#battery:hover {
  color: #292c3c;
  background: #047EBC;
}

#backlight:hover {
  color: #292c3c;
  background: #047EBC;
}

#backlight {
  margin-top: 4px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #047EBC;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
  transition: 0.3s;
}

#language {
  margin-top: 4px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #047EBC;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
  transition: 0.3s;
}

#language:hover {
  color: #292c3c;
  background: #047EBC;
}

#pulseaudio {
  margin-top: 4px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #047EBC;
  padding: 8px;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
  transition: 0.3s;
}

#pulseaudio:hover {
  background: #047EBC;
  color: #292c3c;
}

#pulseaudio.muted {
  color: #f38ba8;
  background: #292c3c;
  border-bottom: 3px;
  border-style: solid;
  border-color: #f38ba8;
  transition: 0.3s;
}

#pulseaudio.muted:hover {
  background: #f38ba8;
  color: #292c3c;

}

#clock {
  margin-top: 4px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #047EBC;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
  transition: 0.3s;
}

#custom-power {
  margin-top: 4px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #047EBC;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
  transition: 0.3s;
}

#custom-power:hover {
  color: #292c3c;
  background: #047EBC;
}

#clock:hover {
  color: #292c3c;
  background: #047EBC;
}

#disk {
  margin-top: 4px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #047EBC;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
  transition: 0.3s;
}

#disk:hover {
  color: #292c3c;
  background: #047EBC;
}

#privacy {
  margin-top: 4px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #047EBC;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
  transition: 0.3s;
}

#idle_inhibitor {
  margin-top: 4px;
  margin-left: 8px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #047EBC;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
  transition: 0.3s;
}

#idle_inhibitor.activated {
  color: #89b4fa;
  border-color: #89b4fa;
}

#idle_inhibitor.activated:hover {
  background: #89b4fa;
  color: #292c3c;
  border-color: #89b4fa;
}

#idle_inhibitor.deactivated {
  color: #047EBC
}

#idle_inhibitor.deactivated:hover {
  color: #292c3c;
  background: #047EBC;
}

#memory {
  margin-top: 4px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #047EBC;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
  transition: 0.3s;
}

#memory:hover {
  color: #292c3c;
  background: #047EBC;

}

#cpu {
  margin-top: 4px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #047EBC;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
  transition: 0.3s;
}

#cpu:hover {
  color: #292c3c;
  background: #047EBC;

}

#custom-launcher {
  font-size: 20px;
  margin-top: 4px;
  margin-left: 17px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 10px;
  transition: none;
  color: #047EBC;
  background: #292c3c;
  transition: 0.3s;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
}

#custom-music {

  margin-top: 4px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #047EBC;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
  transition: 0.3s;
}

#custom-music:hover {
  color: #292c3c;
  background: #047EBC;
}

#custom-launcher:hover {
  background: #047EBC;
  color: #292c3c;
}

#network.disconnected {
  color: #f38ba8;
  background: #292c3c;
  border-bottom: 3px;
  border-style: solid;
  border-color: #f38ba8;
}

#network.disconnected:hover {
  background: #f38ba8;
  color: #292c3c;
}

#custom-lock {
  font-size: 15px;
  margin-top: 4px;
  margin-left: 8px;
  margin-right: 17px;
  padding-left: 10px;
  padding-right: 5px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #047EBC;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
  transition: 0.3s;
}

#custom-lock:hover {

  background: #f38ba8;
  color: #292c3c;
  border-color: #f38ba8;

}

#workspaces {
  margin-top: 4px;
  margin-left: 8px;
  padding-right: 4px;
  background: #292c3c;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
  color: #047EBC;
  transition: 0.3s;
}

#workspaces button {
  color: #047EBC;
  transition: 0.3s;
}

#workspaces button:hover {
  background: transparent;
  color: transparent;
}

#workspaces button.active {
  color: #b4befe;
  transition: 0.3s;
}

#tray {
  margin-top: 4px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #047EBC;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
  transition: 0.3s;
}

#tray menu {
  margin-top: 4px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #292c3c;
  color: #047EBC;
  border-bottom: 3px;
  border-style: solid;
  border-color: #047EBC;
  transition: 0.3s;
}
